* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    text-align: center;
}

.accordion-label {
    background-color: #555;
    color: #f1f1f1;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 7px 15px 7px 15px;
}

.grid {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;
}

.open {
    grid-template-rows: 1fr;
}

.wrapper {
    overflow: hidden;
}